<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests">
  <test thread-count="2" name="Test" parallel="tests">
    <classes>
      <class name="testngfeatures.DemoTest1"/>
      <class name="testngfeatures.DemoTest2"/>
      <class name="testngfeatures.TestNGFeaturesClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
